<!DOCTYPE html>
<html lang="en" ng-app="Expedientes">
<head>
  <meta charset="UTF-8">
  <title>Los Expedientes de Carmen María</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="assets/styles/style.css" />-->
</head>
<body>
  <div class="container-fluid">
    <a href="#/expedientes"><h1 class="text-center">Carmen María's Lawyer App</h1></a>
    <div ng-view></div>
  </div>  

 <!-- <div class="alert">
    Por favor, respeta el formato XXXXX/YY !!
  </div>

  <form>
    <legend>Nuevo expediente</legend>
    <input name="numero" placeholder="Número"><br/>
    <input name="asunto" placeholder="Asunto">
    <input type="Submit">
  </form>

  <ul class='expedientes-list'></ul>-->


<!-- Vendor -->
  <script src="assets/javascript/vendor/jquery.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
<!-- App -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>
  <!--<script src="assets/javascript/client.js"></script>-->
<!-- Controllers -->
  <script src="assets/javascript/controllers/expedientesIndexController.js"></script>
  <script src="assets/javascript/controllers/expedientesShowController.js"></script>
  <script src="assets/javascript/controllers/expedientesNewController.js"></script>
<!-- Services -->
  <script src="assets/javascript/services/expediente.js"></script>
</body>
</html>
