<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Los Expedientes de Carmen María</title>
  <link rel="stylesheet" href="assets/styles/style.css" />
</head>
<body>

  <h1>Los Expedientes de Carmen María</h1>

  <div class="alert">
    Por favor, respeta el formato XXXXX/YY !!
  </div>

  <form>
    <legend>Nuevo expediente</legend>
    <input name="numero" placeholder="Número"><br/>
    <input name="asunto" placeholder="Asunto">
    <input type="Submit">
  </form>

  <ul class='expedientes-list'></ul>


<!-- Vendor -->
  <script src="assets/javascript/vendor/jquery.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
<!-- App -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>
  <script src="assets/javascript/client.js"></script>
</body>
</html>
